.container {
	display: flex;
	flex-shrink: 2;
	flex-wrap: wrap;
	flex-basis: 100px;
}

.box {
	background: #cc0042;
	flex-basis: 200px;
	flex-grow: 1;
	color: white;
	font-family: Helvetica;
	padding: 20px;
	transition: 0.1s background;
}

.box:hover {
	background: #ff0052;
}

.middle {
	background: #b20039;
	flex-shrink: 1;
}

h3 {
	font-size: 30px;
}
